<h2>Forgot your password?</h2>

<div class="log-in">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="formGroup-input">
    <%= f.label :email, :class => "label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="formGroup-input actions">
    <%= f.submit "Send me reset password instructions", :class => "signBtn" %>
  </div>
<% end %>

<div class="logInLink">
<%= render "devise/shared/links" %>
</div>

</div>
